@{
    ViewData["Title"] = "Privacy Policy";
}
@await Html.PartialAsync("_Encabezado", "Esta es la sección de privacidad. Estás conectado como: ")

<p>Use this page to detail your site's privacy policy.</p>
