<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Directores </title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <h1> Lista de directores </h1>
        <ul>
            @foreach(string director in ViewBag.listaDirectores){
                <li>@director</li>
            }
        </ul>
        <img alt="Instructor Alfredo" src="~/imagenes/InstructorAlfredo.png">
    </body>
</html>